<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYqIYegB-51mz_asn2fz23eRd3Z8hvCM8</string>
	<key>GCM_SENDER_ID</key>
	<string>896727859462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterprojects</string>
	<key>PROJECT_ID</key>
	<string>crm-app-e5e87</string>
	<key>STORAGE_BUCKET</key>
	<string>crm-app-e5e87.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896727859462:ios:6116d52075fd6155241e87</string>
</dict>
</plist>